<div id="client-app" class="p-2 m-2 flex flex-col" >
    <div class="flex flex-row gap-2 justify-around border-b pb-4">
        <select class="w-1/4 p-4 border border-blue-800 bg-white text-blue-800 text-lg rounded" v-model="from" :disabled="state>1" v-on:change="loadPaymentMethod">
            <option v-for="currency in currencies" :value="currency.id">{{currency.code}}</option>
        </select>
        <select class="w-1/4 p-4 border border-blue-800 bg-white text-blue-800 text-lg rounded" v-model="to" :disabled="state>1">
            <option v-for="currency in toCurrencies" :value="currency.id">{{currency.code}}</option>
        </select>
    </div>
    <div class="flex flex-col border-b pb-4">
        <span v-if="toCurrencies.length==0" class="text-center text-lg text-red-700">No hay cambios disponibles</span>
        <span v-else>
            <h3 class="text-center font-bold m-4">Información sobre el cambio</h3>
            <p class="text-md">Indicanos el monto que desea cambiar por favor</p>
            <span class="flex flex-row gap-10">
                <span>
                    <span class="flex flex-row items-center w-fit p-2 !border !border-blue-800 !rounded">
                        <input type="number" class="p-4 !border-none outline-none text-right" :max="maxAvalaible" v-model="mount" :disabled="state>1"/>
                        <span class="text-blue-800 font-bold text-lg">{{symbol.from}}</span>
                    </span>
                </span>
                <span>
                    <span :class="'flex flex-row items-center w-fit p-2 !rounded !border ' + (maxAvalaible<calculatedChange?'!border-red-800':'!border-blue-900')" >
                        <input type="number" class="p-4 !border-none outline-none text-right" :max="maxAvalaible" :value="calculatedChange" disabled/>
                        <span class="text-blue-800 font-bold text-lg">{{symbol.to}}</span>
                    </span>
                    <span v-if="maxAvalaible<calculatedChange">Monto disponible superado</span>
                </span>
                <span>
                    <span class="flex flex-row items-center">
                        <button :class="'p-4 self-center text-white font-bold '+(maxAvalaible<calculatedChange?'bg-gray-400 hover:bg-gray-400':'bg-blue-500 hover:bg-blue-700')" v-on:click="reserve" :disabled="(state>1)||(maxAvalaible<calculatedChange)">Reservar <span v-if="countdown<180">({{countdown}})</span></button>
                    </span>
                </span>
            </span>
        </span>
    </div>
    <div v-if="state>1" class="flex flex-col border-b pb-4">
        <h3 class="text-center font-bold m-4">Información sobre el pago</h3>
        <span class="w-full mb-2">
            {{ paymentDetails }}
        </span>
        <span class="flex flex-row gap-10 mb-2">
            <span>
                <span class="flex flex-row items-center w-fit !border !border-blue-800 !rounded">
                    <span class="bg-gray-200 font-bold border-r border-blue-800 p-3">REFERENCIA</span>
                    <input type="text" class="p-4 !border-none outline-none" v-model="reference" />
                </span>
            </span>
            <span class="flex flex-row items-center">
                <button class="p-2 self-center text-white font-bold bg-blue-500 hover:bg-blue-700" v-on:click="send">Enviar</button>
            </span>
        </span>
        <p class="!my-2 font-bold">Comentarios:</p>
        <textarea class="w-full !boder !border-blue-500 rounded" rows="5"></textarea>
    </div>
    
</div>
<script>
    App.mount('#client-app')
</script>